.b-gantt-task-tooltip {
    @extend .b-sch-event-tooltip;

    .b-gantt-task-title {
        font-weight : 600;
    }

    table,tr,td {
        padding: 0;
    }

    td {
        padding-top: 3px;
    }

    td:last-child {
        text-align: right;
    }

    .b-sch-clock {
        display : none;
    }
}
