/* You can add global styles to this file, and also import other style files */

@import "bryntum-gantt/gantt.stockholm.css";

html, body {
    height: 100%;
}
  
body {
    font-size      : 14px;
    font-family    : Lato, sans-serif;
    margin         : 0;
    display        : flex;
    flex-direction : column;
}
  
app-root {
    display:flex;
    flex-direction:column;
    align-items: stretch;
    height: 100%;
}
gantt-panel {
    flex: 1;
}
#container {
    display:flex;
    flex-direction: column;
    height:100%;
}

#container > .b-panel {
    flex : 1;

    > .b-toolbar {
        border-bottom : 1px solid #d8d8d8;

        > .b-widget {
            margin-right : 1em;
        }

        .b-button {
            min-width : 3.5em;
        }
    }

    .b-panel-content {
        background-color : transparent;
    }

    .b-panel-content {
        padding : 0;
    }

    .b-gantt {
        width : 100%;
    }
}

.filter-by-name label {
    display : none;
}

.b-theme-stockholm #container.b-panel > .b-toolbar {
    border-bottom-color : #d8d9da;
}

.b-theme-default #container.b-panel > .b-toolbar {
    background-color    : #f1f1f4;
    border-bottom-color : #b0b0b6;

    .b-has-label label {
        color : #555;
    }
}

.b-theme-light #container.b-panel > .b-toolbar {
    background-color    : #fff;
    border-bottom-color : #e0e0e0;
}

.b-theme-material #container.b-panel > .b-toolbar {
    background-color : #fff;
    border-bottom    : none;

    .filter-by-name label {
        display : block;
    }
}

.b-theme-dark #container.b-panel > .b-toolbar {
    background-color    : #2b2b2f;
    border-bottom-color : #2a2b2e;
}

.b-status-column-cell {
    font-size       : 0.8em;
}

.b-status-column-cell i::before {
    margin-right : .5em;
}

.Started {
    color : #bbb;
}

.Late {
    color : #ff5722;
}

.Completed {
    color : #34d844;
}

.settings-menu .b-slider {
    margin-bottom: 0.5em;
}
