@import 'variables.scss';

.b-color-blue {
    background-color : $blue;
}

.b-color-deep-orange {
    background-color : $deep-orange;
}

.b-color-orange {
    background-color : $orange;
}

.b-color-amber {
    background-color : $amber;
}

.b-color-indigo {
    background-color : $indigo;
}

.b-color-lime {
    background-color : $lime;
}

.b-color-teal {
    background-color : $teal;
}

.b-color-green {
    background-color : $green;
}

.b-color-light-green {
    background-color : $light-green;
}

.b-color-purple {
    background-color : $purple;
}

.b-color-yellow {
    background-color : $yellow;
}

.b-color-red {
    background-color : $red;
}

.b-color-dark-gray {
    background-color : $dark-gray;
}

.b-color-gray{
    background-color : $gray;
}

.b-color-light-gray {
    background-color : $light-gray;
}

.b-color-white {
    background-color : $white;
}
