#container.b-panel {
  flex: 1;
}

#container.b-panel > .b-toolbar {
  border-bottom: 1px solid;
}

#container.b-panel > .b-toolbar > .b-widget {
  margin-right: 1em;
}

#container.b-panel > .b-toolbar .b-button {
  min-width: 3.5em;
}

#container.b-panel .b-panel-content {
  background-color: transparent;
}

#container.b-panel .b-panel-content {
  padding: 0;
}

.b-theme-stockholm #container.b-panel > .b-toolbar {
  border-bottom-color: #d8d9da;
}

.b-theme-default #container.b-panel > .b-toolbar {
  background-color: #f1f1f4;
  border-bottom-color: #b0b0b6;
}

.b-theme-default #container.b-panel > .b-toolbar .label {
  color: #555;
}

.b-theme-light #container.b-panel > .b-toolbar {
  background-color: #fff;
  border-bottom-color: #e0e0e0;
}

.b-theme-material #container.b-panel > .b-toolbar {
  background-color: #fff;
  border-bottom: none;
}

.b-theme-material #container.b-panel > .b-toolbar .label {
  color: #555;
}

.b-theme-dark #container.b-panel > .b-toolbar {
  background-color: #2b2b2f;
  border-bottom-color: #2a2b2e;
}

.label {
  align-items: center;
}

@media (max-width: 450px) {
  #container.b-panel .b-toolbar {
    font-size: 0.7em;
  }
}
