@font-face {
  font-family: Lato;
  src: url("../../../resources/fonts/Lato-Regular.woff2") format("woff2"), url("../../../resources/fonts/Lato-Regular.woff") format("woff");
  /* Pretty Modern Browsers */
}

@font-face {
  font-family: LatoBold;
  src: url("../../../resources/fonts/Lato-Bold.woff2") format("woff2"), url("../../../resources/fonts/Lato-Bold.woff") format("woff");
  /* Pretty Modern Browsers */
}

@font-face {
  font-family: LatoBlack;
  src: url("../../../resources/fonts/Lato-Black.woff2") format("woff2"), url("../../../resources/fonts/Lato-Black.woff") format("woff");
  /* Pretty Modern Browsers */
}

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex !important;
  flex-direction: column;
  line-height: normal;
}

.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 146px;
  background-color: #009688;
}

.content {
  min-width: 300px;
  max-width: 753px;
  margin: 0 auto;
  position: relative;
}

.content > header {
  padding: 2rem;
}

header h1 {
  color: #fff;
  font-family: LatoBlack;
  padding: 1rem 0;
}

header a {
  text-decoration: none;
}

nav {
  position: absolute;
  right: 0;
  top: 4.7rem;
}

nav a {
  color: #fff;
  margin-right: 1rem;
  font-family: LatoBlack;
  position: relative;
}

nav a::before {
  display: inline-block;
  position: absolute;
  background-color: #fff421;
  height: 2px;
  left: 50%;
  right: 50%;
  bottom: -7px;
  content: '';
  transition: left 0.2s, right 0.2s, color 0.2s;
}

nav a:hover, nav a:first-child {
  color: #fff421;
}

nav a:hover::before, nav a:first-child::before {
  left: 0;
  right: 0;
}

.small {
  font-family: LatoBlack;
  color: #009688;
  margin-bottom: 1rem;
}

.big {
  font-family: LatoBlack;
  font-size: 2rem;
  color: #666;
}

article {
  padding: 2rem;
}

section {
  line-height: 170%;
}

.article-bg {
  position: absolute;
  left: 0;
  right: 0;
  height: 450px;
  background-color: #ccc;
}

#container {
  height: 390px;
  background: #fff;
  position: relative;
}

[data-column="satisfaction"] .b-fa-star {
  color: #f8d400;
  font-size: 2em;
}

[data-column="satisfaction"] i {
  margin-right: 0.3rem;
}

.b-responsive-small.b-view {
  font-size: 12px;
}

@media (max-width: 480px) {
  nav a {
    display: none;
  }
  nav::before {
    content: '\f0c9';
    font-family: FontAwesome;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  nav:hover::before {
    color: #fff421;
  }
}
