.b-gantt {
  font-size: 14px;
}

.b-grid-cell {
  font-weight: 400;
}

.b-grid-header {
  color: #000;
  font-weight: 600;
  font-size: 13px;
}

.b-grid-header-container {
  box-shadow: none;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f5f5f5;
}

.b-grid-header-container .b-sch-timeaxiscolumn {
  background-color: #f5f5f5;
}

.b-grid-header {
  background-color: #f5f5f5;
}

.b-sch-event {
  font-size: .35em;
  font-weight: 800;
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  opacity: 0.8;
}

.b-sch-event:hover {
  opacity: 1;
}

.b-grid-splitter {
  box-shadow: none;
}

#main-view > .x-panelheader {
  background-color: #0960a5;
}

.ext-list .x-paneltitle .x-text-el {
  background: url(sencha-logo.png) no-repeat left center;
  background-size: contain;
  padding-left: 35px;
}

.bryntum-scheduler .x-panelheader .x-field .x-label-el {
  color: #fff;
  font-size: 16px;
}

.bryntum-scheduler .x-panelheader .x-field .x-input-wrap-el {
  color: #fff;
}

.bryntum-scheduler .x-panelheader .x-field .x-trigger .x-icon-el {
  color: #fff;
}

.bryntum-scheduler .x-paneltitle .x-text-el {
  background: url(bryntum-logo.png) no-repeat left center;
  background-size: contain;
  padding-left: 35px;
}
