/**
 * @author Saki
 * @date 2019-02-07 13:30:47
 * @Last Modified by: Saki
 * @Last Modified time: 2019-12-12 15:47:51
 *
 * Main application sass file that contains all the application styling
 */
.b-react-gantt-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

// eof
