.demo-export-header {
  text-align: left;
  padding: 8px 0 0 10px;
  height: 40px;
  color: #fff;
  background: #0066a6;
  position: relative;
}

.demo-export-header img {
  height: 80%;
}

.demo-export-header dl {
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  margin: 0;
  font-size: 10px;
  position: absolute;
}

.demo-export-header dd {
  margin: 0;
}

.b-export-footer {
  color: #fff;
  background: #0066a6;
}

.demo-export-footer {
  text-align: center;
}
