.b-responsive-small {
    .b-grid-header {
        font-size: .8em;
    }

    .b-sch-label {
        font-size : 10px;
    }
}

.b-responsive-medium {
    .b-grid-header {
        font-size: .9em;
    }
}
