@import '../../variables.scss';

.b-gridbase.b-sort .b-grid-header {
    // icon for column sorted asc
    &.b-sort .b-grid-header-text::after {
        @include b-grid-header-icon($grid-header-icon-color);
        @extend .b-icon-sorted-asc:before;
    }

    //desc, rotate icon using transition
    &.b-sort.b-desc .b-grid-header-text::after {
        transform : rotate(180deg);
    }

    // display sort index badge next to icon when using multiple sorters
    &.b-sort .b-grid-header-text[data-sort-index]::before {
        content       : attr(data-sort-index);
        position      : relative;
        top           : 1em;
        color         : $sort-index-color;
        z-index       : 30;
        font-size     : .6em;
        order         : 1; // place last
    }

    // change header color in sorted column
    &.b-sort .b-grid-header-text {
        color : $sort-color;
    }
}

.b-gridbase.b-sort:not(.b-column-resizing) .b-grid-header-container:not(.b-dragging-header) .b-grid-header {
    // show sort icon on hover for columns not sorted or grouped by, but not while dragging or resizing
    &.b-sortable.b-depth-0:hover:not(.b-sort):not(.b-group) .b-grid-header-text::after,
    &.b-sortable.b-depth-0:focus:not(.b-sort):not(.b-group) .b-grid-header-text::after {
        @include b-grid-header-icon($grid-header-icon-light-color);
        @extend .b-icon-sort-asc:before;
    }
}
